// Includes variables used by the app

// Colors
// Base Layout Color and its Shades
$layout-base: #00AEC9;
$base-lighten-2: #2EBCD2;
$base-lighten-1: #17B5CD;
$base-darken-1 : #009FB7;
$base-darken-2 : #008FA5;
// B&W Layout Colors
$layout-black         : #1A1A1A;
$layout-white         : #EEEEEE;
$layout-contrast-white: #C4C4C4;
$layout-contrast-black: #444444;
// Denotive Colors
$denotive-red           : #FF6565;
$denotive-green         : #36C77A;
$denotive-orange        : #E29755;
$denotive-disabled-black: #2E2E2E;
$denotive-disabled-white: #DEDEDE;
// Message Colors
$message-success: #2ed2a6;
$message-failed : #d05454;