@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/bootstrap/scss/bootstrap-grid'; 
@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import 'vars';

body{
  font-size: .8em;
  background-color: $layout-white;
}

.app-wrapper{
  background-color: $layout-white;
  color: $layout-contrast-black;
  
  .row > section {
    padding: 30px 30px;
    
    &.app-list{

      .row > .customer-header{
        width: 100%;
        margin-bottom: 25px;
        color: $layout-base;
        
        i.fas{
          font-size: 2.5 rem;
          margin-right: 10px;
        }        
      }
    }

    &.app-actions{
      background-color: $layout-base;
      color: $layout-white;
      height: 600px;
      
      a{
        font-size: .7em !important;        
        color: $layout-base;
        background-color: $denotive-disabled-white;
        margin-left: 5px;
        transition: background-color 200ms ease-in;
        &:hover{
          background-color: darken($denotive-disabled-white, 5%);
          text-decoration: none;
        }
      } 
      .btn-actions {
        display: flex;
        -webkit-justify-content: center;
                justify-content: center;
        
        .btn {
          color: white;
          -webkit-flex-grow: 1;
                flex-grow: 1;
          margin: 0 5px;
          padding: -10px;
          font-size: .9em;
        }
        
        .btn-add {
          background-color: $denotive-green;
        }
        .btn-update {
          background-color: $denotive-orange;
        }
        .btn-delete {
          background-color: $denotive-red;
        }        
      }

      .message{
        margin: 10px 5px;
        padding: 10px 10px 10px 20px;
        border-radius: 2px;        
      }
      
      .message-default{
        background-color: $base-lighten-2;
      }

      .message-success{
        background-color: $message-success;
      }

      .message-failed{
        background-color: $message-failed;
      }

      form{
        input, select {
          margin-top: 30px;
          background-color: $layout-base;
          border: none;
          -webkit-border-radius: 0;
                  border-radius: 0;
          border-bottom: 1px solid white;
          color: white;
          
          &::-webkit-input-placeholder {
            color: $layout-white;
            opacity: .5;
          }
          &::placeholder {
            color: $layout-white;
            opacity: .5;
          }
        }

        option {
          background-color: $base-lighten-2;
        }
      }
    }
  }
}
// Helpers
.is-clickable {
  cursor: pointer;
  
  &:hover {
    background-color: gainsboro;
  }
}

// XS screens
@media only screen and (min-width: 0px) and (max-width: 320px){
  .table {
    display: block;
    overflow-x: scroll;
  }  
}

// Medium sized screen
@media only screen and (min-width: 601px) {
  body{    
    overflow: none;
    font-size: .9em;
  }

  .app-wrapper{
    .row > section:nth-child(1) {
      padding: 40px 30px;  
    }

    .row > section:nth-child(2) {
      padding: 40px 15px;     
    }

    .row > section {
      &.app-list{        
        .row > .customer-header{
          margin-bottom: 30px;
        }        
      }

      &.app-actions{
        height: 100vh;
      }
    }
  }  
}

// Desktop sized screen
@media only screen and (min-width: 993px) { 
  body{
    font-size: 1em;
  }

  .app-wrapper{    
    .row > section {
      padding: 50px 50px !important;
      
      &.app-list{

        .row > .customer-header{
          margin-bottom: 50px;
        }
        
      }

      &.app-actions{        
        .btn {
          font-size: 1em;
        }
      }
    }
  }  
}

// Loader
@keyframes scale{
  0%,80%{-webkit-transform:scale(1);transform:scale(1);opacity:1}45%{-webkit-transform:scale(.1);transform:scale(.1);opacity:.7}
}
.ball-pulse{
  text-align: center;
  margin: 30px 0;
  
  >div {
    background-color: $layout-base;
    border-radius: 100%;
    margin: 2px;
    display: inline-block;
    width: 15px;
    height: 15px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  > div:nth-child(1){
    -webkit-animation: scale .75s -.24s infinite cubic-bezier(.2,.68,.18,1.08);
    animation: scale .75s -.24s infinite cubic-bezier(.2,.68,.18,1.08);
  }
  > div:nth-child(2){
    -webkit-animation: scale .75s -.12s infinite cubic-bezier(.2,.68,.18,1.08);
    animation: scale .75s -.12s infinite cubic-bezier(.2,.68,.18,1.08);
  }
  > div:nth-child(3){
    -webkit-animation: scale .75s 0s infinite cubic-bezier(.2,.68,.18,1.08);
    animation: scale .75s 0s infinite cubic-bezier(.2,.68,.18,1.08);
  }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}